* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Exo 2', sans-serif;
}

.nav {
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #1f3855;
  margin: 0 auto;
  padding: 0px 30px 0px 30px;
  align-items: center;
  vertical-align: middle;
  line-height: 50px;
}

.logo {
  height: 40px;
  width: 160px;
  min-width: 100px;
  vertical-align: middle;
  line-height: 20px;
}

ul {
  height: 100%;
  display: inline-flex;
  direction: ltr;
  list-style: none;
}

li {
  background-color: #1f3855;
  padding: 0 14px 0 14px;
}

ul li:hover {
  background-color: #315884;
  transition: 0.5s ease-in-out;
}

ul li a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}

.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.column {
  float: left;
  width: 25%;
  padding: 1px;
  margin: auto 0;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  padding-left: 10%;
  padding-right: 10%;
}

.map {
  width: 100%;
  padding: 10px 10% 10px 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  color: #1f3855;
  text-decoration: none;
}

.map a {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  color: #315884;
}

h1 {
  font-size: 4vw;
  text-transform: uppercase;
  color: #1f3855;
  font-weight: 500;
}

.column:hover {
  background-color: #315884;
  transition: all 0.6s 0s;
  color: white;
}


.column a {
  text-decoration: none;
  color: #1f3855;
}

.column a:hover {
  color: #fff;
}


.row:after {
  content: "";
  display: table;
  clear: both;
  text-decoration: none;
}

.hl {
  margin: auto 0;
  font-size: 20px;
  position: static;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #315884;
  color: #fff;
  padding: 10px;
  border-bottom-style: solid;
  border-width: 4px;
  border-color: #1f3855;
}

.flm {
  text-transform: uppercase;
  color: #315884;
  font-size: 5vw;
  padding: 10px 0% 0% 10%;
}


footer {
  font-size: 3vw;
  padding: 6px;
  text-align: center;
  color: white;
  background-color: #1f3855;
}

@media screen and (min-width: 900px) {
  .column  {
    width: 20%;
  }

  .flm {
    font-size: 45px;
  }

  h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 900px) {
  .column  {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .column  {
    width: 50%;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
  }


  .container {
    height: 18vh;
  }


  ul li a {
    font-size: 12px;
    font-weight: 200;
    vertical-align: middle;
    line-height: 30px;
  }

  .logo {
    width: 25%;
    height: 70%;
    vertical-align: middle;
    line-height: 30px;
  }

  ul {
    padding: 0px 0px 0px 4px;
  }

  li {
    padding: 0px 4px 0px 4px;
  }

  .nav {
    height: 30px;
    margin: 0 auto;
    padding: 0px 4px 0px 4px;
    line-height: 20px;
  }
}
